.component {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto; 
    grid-gap: 10px;
    margin-top: 20px;
    justify-items: stretch;
    align-items: stretch;
}

.component .header {
    grid-column: 1 / 3;
    grid-row: 1;
}

.component .header-info {
    grid-column: 3;
    grid-row: 1;
    text-align: right;
    align-self: center;
}

.component .header-info p {
    color: #999;
    display: inline;
}

.component .video {
    grid-column: 1;
    grid-row: 2;
}

.component .video iframe {
    width: 100%;
    height: 100%;
    max-width: 700px;
    max-height: 500px
}

.component .description {
    grid-column: 2 / 4;
    grid-row: 2;
}

.component .episodes {
    grid-column: 1 / 4;
    grid-row: 3;
}

.contents {
  list-style-type: none;
  padding-left: 0px;
}

.contentItem {
    width: 100%;
    border: 1px solid #ddd;
    background-color: #ddd;
    color: #000;
    font-size: 16px;
}

.contentItem:not(:last-child) {
    margin-bottom: 10px;
}

.contentItem a {
    color: #000;
}

.contentItem a:hover {
    text-decoration: none;
    color: #000;
}

.contentLink {
    width: 100%;
    margin: 10px;
}

.contentLink .glyphicon {
    padding-right: 10px;
}
