.course-list-component {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    justify-items: stretch;
    align-items: stretch;
}

.course-list-component .header{
    grid-column: 1;
    grid-row: 1;
}

    .course-list-component .table {
        grid-column: 1/3;
        grid-row: 2;
    }
